*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    height: 90px;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.374);
    
      
}
img{
    width: 250px;
    height: 50px;
}
.list1{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration-line: none;
    font-size: 25px;
}

.section img{
    height: 80px;
    width: 80px;
    margin-left: 45%;
    margin-top: 5%;
 
}
.section h1{
    margin-left: 28%;
    color: #00b39b;
    margin-top: 3%;
    font-size: 30px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 5%;
    font-size: 18px;
    margin-left: 16%;
    margin-right: 16%;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: -13%; 
    padding: 240px; 
}
.box1{
    background-color: #00b39b;
    color: aliceblue;
    height: 390px;
    width:300px ;
    border-radius: 5%;
    #b1{
        margin-left: 20px;   
    }
    .BOX1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left:20px ;
        margin-top: 5px;
        font-size: 22px;
    }
    .select1{
        margin-top: 35px;
    }
   
}

.box2{
    background-color: #3d83df;
    color: aliceblue;
    height: 390px;
    width:300px ;
    border-radius: 5%;
    #b2{
        margin-left: 10%;    
    }
    .BOX2{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left:20px ;
        margin-top: 5px;
        font-size: 22px;
    }
    .select2{
        margin-top: 35px;
    }
    

}
.box3{
    background-color:rgb(2, 2, 53);
    color: aliceblue;
    height: 390px;
    width:300px ;
    border-radius: 5%;
    #b3{
        margin-left: 10%;
        
    }    
    .BOX3{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left:20px ;
        margin-top: 5px;
        font-size: 22px;
    }
    .select3{
        margin-top: 15px;
    }
}
.end h2{
    color: #00b39b;
    font-size: 28px;
    margin-top: -13%;
    margin-left:18% ;
    font-family: work 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-top: -8.5%;
    margin-left: 30%;
    padding: 40px;
    margin-right: 17%;
    
}
#link1{
    text-decoration: none;
    font-size: 20px;
    color: gray;
}
#link2{
    text-decoration: none;
    font-size: 20px;
    color: gray;
} 
#link3{
    text-decoration: none;
    font-size: 20px;
    color: gray;
}
#link4{
    text-decoration: none;
    font-size: 20px;
    color: gray;
} 
#link5{
    text-decoration: none;
    font-size: 20px;
    color: gray;
}
#link6{
    text-decoration: none;
    font-size: 20px;
    color: gray;
    margin-top: 18%;
} 
#link7{
    text-decoration: none;
    font-size: 20px;
}
#link8{
    text-decoration: none;
    font-size: 20px;
}#link9{
    text-decoration: none;
    font-size: 20px;
}
#link10{
    text-decoration: none;
    font-size: 20px;
}  
